@import '../node_modules/typeface-open-sans/index.css';
@import '../node_modules/normalize.css/normalize.css';

body {
  background-color: #f0efee;
}
#app {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #8c8c8c;
}

.content {
  padding-top: 40px;
}

h1, h2 {
  font-weight: normal;
}

img {
  max-width: 100%;
}

// Helpers

.container {
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

$grid-gutter: 10px; // espaçamento entre as colunas
$grid-columns: 12; // Quantidade de colunas
$grid-max: 1024px; // Tamanho do container

// Código básico das colunas do grid
[class*="grid-"] {
  float: left;
  box-sizing: border-box;
  padding: 0 $grid-gutter;
  margin-bottom: 20px;
}

@for $i from 1 through $grid-columns {
  .grid-xs-#{$i} {
    width: 100% / $grid-columns * $i
  }
}

@media (min-width: 768px) {
  @for $i from 1 through $grid-columns {
    .grid-sm-#{$i} {
      width: 100% / $grid-columns * $i
    }
  }
}

@media (min-width: 1024px) {
  @for $i from 1 through $grid-columns {
    .grid-md-#{$i} {
      width: 100% / $grid-columns * $i
    }
  }
}
